@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f7e296;
  color: #000000;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.input-search {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.input-search::placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.input-search:hover::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.input-search:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.search-wrapper button {
  display: none;
}

.user-menu,
.nav-list,
.footer-menu,
.footer-nav,
.footer-social,
.cities-list {
  list-style: none;
}

.user-list {
  font-size: 15px;
  line-height: 30px;
}

.nav-list,
.footer-nav {
  font-family: "Gilroy-ExtraBold", arial, serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.user-menu a,
.nav-list a,
.footer-menu a,
.footer-nav a {
  color: #000000;
}

.user-menu a:hover,
.nav-list a:hover,
.user-menu a:focus,
.nav-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu a:active,
.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.about h2,
.contacts h2 {
  font-family: "Gilroy-ExtraBold", arial, serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  color: #000000;
}

.about,
.contacts {
  font-size: 15px;
  line-height: 30px;
}

.cities-list {
  list-style-image: url("../img/bullet.svg");
}

.button {
  font-family: "Gilroy-ExtraBold", arial, serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  box-shadow: inset 0px 8px 0px 0px white, inset 0px 16px 0px 0px #f0c52e;
  border: none;
}

.button:hover,
.button:focus {
  background: #f0c52e;
  box-shadow: none;
}

.button:active {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.map {
  background: url("../img/map.png") no-repeat;
  display: cover;
  width: 560px;
  height: 222px;
}

.footer {
  background: #464646;
  color: #ffffff;
}

.footer-nav a {
  font-size: 18px;
  color: #ffffff;
}

.footer-menu a {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-phone a,
.footer-social a,
.footer-bottom a {
  color: #ffffff;
}

/* модальные окна */

.modal {
  background: #ffffff;
}
.modal-input {
  font-family: "Gilroy-ExtraBold", arial, serif;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.modal-input input {
  border: none;
}

.modal-input input::placeholder,
.input-texarea textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  background-color: rgba(242, 242, 242, 0.5);
  color: rgba(70, 70, 70, 0.4);
  border: none;
}
.input-texarea textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

/* Стили католога */
.body-catalog .user-menu .menu-login {
  color: rgba(0, 0, 0, 0.3);
}
.body-catalog .footer-menu .menu-login {
  color: #ffffff;
}

.breadcrumb-list {
  list-style: none;
}
.breadcrumb-list a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumb-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumb-list a:active {
  color: rgba(0, 0, 0, 0.1);
}
.main-container h2 {
  font-family: "Gilroy-ExtraBold", arial, serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
  color: #000000;
}

.card-caption h3 {
  font-family: "Gilroy-ExtraBold", arial, serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}
.price {
  font-family: "Gilroy-light", arial, serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #000000;
}
