@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"), local("Gilroy Light"),
    url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"), local("Gilroy ExtraBold"),
    url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v16-cyrillic_latin-300.woff2") format("woff2"),
    url("../fonts/open-sans-v16-cyrillic_latin-300.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f7e296;
  color: #000000;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.input-search {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.input-search::placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.input-search:hover::-webkit-input-placeholder,
.input-search:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.input-search:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.search-button {
  font-size: 15px;
  width: 85px;
  height: 49px;
  border: 1px solid #000000;
  text-align: center;
  background: transparent;
}
.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background: #000000;
}
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

.user-menu,
.nav-list,
.footer-menu,
.footer-nav,
.footer-social,
.cities-list {
  list-style: none;
}

.user-list {
  font-size: 15px;
  line-height: 2;
}

.nav-list,
.footer-nav {
  font-family: "Gilroy", "Times New Roman", serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.user-menu a,
.nav-list a,
.footer-menu a,
.footer-nav a {
  color: #000000;
}

.user-menu a:hover,
.nav-list a:hover,
.user-menu a:focus,
.nav-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu a:active,
.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.about h2,
.contacts h2 {
  font-family: "Gilroy", "Times New Roman", serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.5;
  letter-spacing: 0.21px;
  color: #000000;
}

.about,
.contacts {
  font-size: 15px;
  line-height: 2;
}

.cities-list {
  font-family: "Gilroy", arial, serif;
  font-weight: 800;
  list-style-image: url("../img/bullet.svg");
}

.button {
  font-family: "Gilroy", "Times New Roman", serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3.5px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  box-shadow: inset 0px 16px 0px 0px white, inset 0px 24px 0px 0px #f0c52e;
  border: none;

  display: inline-block;
  max-width: 265px;
  min-width: 100px;
  min-height: 40px;

  word-wrap: break-word;
  margin: 0;
  padding: 10px 20px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #f0c52e;
  box-shadow: none;
}

.button:active {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.map {
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 560px;
  height: 222px;
  margin-bottom: 65px;
}

.footer {
  background: #464646;
  color: #ffffff;
}
.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}
.footer-nav a {
  font-size: 18px;
  color: #ffffff;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu a {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-menu a:hover,
.footer-menu a:focus {
  color: rgba(255, 255, 255, 0.6);
}
.footer-menu .menu-login:hover,
.footer-menu .menu-login:active {
  color: #ffffff;
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone a,
.footer-social a,
.footer-bottom a {
  color: #ffffff;
}

/* Стили католога */
.body-catalog .user-menu .menu-login {
  color: rgba(0, 0, 0, 0.3);
}
.body-catalog .footer-menu .menu-login {
  color: #ffffff;
}

.breadcrumb-list {
  list-style: none;
}
.breadcrumb-list a {
  font-size: 14px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumb-list a:hover,
.breadcrumb-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumb-list a:active {
  color: rgba(0, 0, 0, 0.1);
}
.main-container h2 {
  font-family: "Gilroy", arial, serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.5;
  letter-spacing: 0.17px;
  color: #000000;
}

.card-caption h3 {
  font-family: "Gilroy", "Times New Roman", serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.18px;
  color: #000000;
}
.price {
  font-family: "Gilroy", "Times New Roman", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: #000000;
}

/* Сетка */

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
.header-logo {
  width: 164px;
  height: 36px;
  margin-top: -18px;
  margin-bottom: 25px;
}

.main-header {
  margin-top: 40px;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.row-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
  margin-bottom: 40px;
}
.search-form {
  padding-left: 35px;
  width: 500px;
}
.header-nav {
  margin: 0;
  padding: 0;
}

.user-menu {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item {
  margin: 0;
  padding: 0;
}

.menu-login {
  padding-left: 25px;
  margin-right: 200px;
}
.menu-diff {
  padding-left: 25px;
}

.menu-cart {
  padding-left: 25px;
  margin-left: 25px;
}

.body-catalog .menu-login {
  margin-right: 40px;
  padding-left: 0px;
}

.body-catalog .menu-username {
  padding-left: 25px;
  margin-right: 10px;
}

.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav-list li {
  margin: 0;
  padding: 0;
}

.nav-list li:first-child {
  padding-right: 20px;
  margin-right: 300px;
}
.nav-list li:nth-child(2) {
  margin-right: auto;
}

.nav-list li:last-child {
  margin-left: 105px;
}
.nav-list li:last-child a {
  margin: 0;
  padding: 0;
}

.main-columns {
  display: flex;
  justify-content: space-between;
}

.about {
  margin: 0;
  padding: 0;
  width: 500px;
}

.about .about-container h2,
.contacts .contacts-container h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.about .about-container p {
  margin-bottom: 30px;
}
.contacts .contacts-container p {
  margin-bottom: 40px;
}

.contacts {
  margin: 0;
  padding: 0px 0px;
  width: 560px;
}
.cities-list {
  margin: 0px;
  padding: 0px 20px;
  margin-top: 75px;
  margin-bottom: 60px;
}
.cities-list li {
  margin: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  padding-bottom: 40px;
}

.footer-top {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
}

.footer-menu {
  margin-left: auto;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.footer-menu .menu-item {
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

.body-catalog .footer-menu {
  padding: 0;
  width: 480px;
}

.body-catalog .menu-username {
  padding-left: 30px;
}
.body-catalog .menu-login {
  padding: 0;
}

.footer-middle {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.footer-address {
  width: 260px;
  margin-right: 100px;
}

.footer-nav {
  margin: 0;
  padding: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.footer-phone {
  margin-left: auto;
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 35px;
}
.footer-social {
  margin: 0;
  padding: 0;
  width: 160px;
  display: flex;
  margin-right: 470px;
}

/* Каталог */

.main-container {
  width: 1160px;
  padding: 0px;
  margin: 0px;
  padding-left: 60px;
}

/* .body-catalog .main-container h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
} */

.body-catalog h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.body-catalog .main-header {
  margin-bottom: 25px;
}

.breadcrumb-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}
.breadcrumb-list li {
  padding-right: 40px;
}

.catalog-wrapper {
  display: flex;
}

.filter-wrapper {
  width: 270px;
  padding-top: 200px;
  padding-left: 0px;
}

.filter {
  background: #efefef;
}
.filter-form {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.filter fieldset {
  border: none;
}

.field-checkbox,
r .field-radio {
  display: block;
  padding: 0;
  margin: 0;
}

.filter button {
  box-shadow: inset 0px 16px 0px 0px #efefef, inset 0px 24px 0px 0px #f0c52e;
  background: #efefef;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-top: 70px;
}

.card {
  width: 360px;
  margin-bottom: 45px;
  margin-left: 40px;
}

.card-img {
  margin-bottom: 20px;
}

.card-caption {
  width: 360px;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.card-caption h3 {
  margin: 0;
  padding: 0;
}

.card-caption .price {
  text-align: right;
  width: 100px;
}

/* модальные окна */

.modal {
  background: #ffffff;
}
.modal-input {
  font-family: "Gilroy", "Times New Roman", serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
}
.modal-input input {
  border: none;
}

.modal-input input::placeholder,
.input-texarea textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
  background-color: rgba(242, 242, 242, 0.5);
  color: rgba(70, 70, 70, 0.4);
  border: none;
}
.input-texarea textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}
